nav.navbar.navbar-expand-lg.navbar-dark.py-3.fixed-top.navbar-transparent
  .container.px-5
    a.navbar-brand(href="#home")
      span.fw-bolder.text-primary MIFTAH FENTAW
    button.navbar-toggler(
      type="button",
      data-bs-toggle="collapse",
      data-bs-target="#navbarSupportedContent",
      aria-controls="navbarSupportedContent",
      aria-expanded="false",
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.nav-btn(href="#home") Home
        li.nav-item
          a.nav-link.nav-btn(href="#about") About
        li.nav-item
          a.nav-link.nav-btn(href="#resume") Resume
        li.nav-item
          a.nav-link.nav-btn(href="#projects") Projects
        li.nav-item
          a.nav-link.nav-btn(href="#contact") Contact
